name: Cargo-algorithms

on:
  push:
    branches: ["master","*.x"]
  pull_request:
    branches: 
      - "master"
      - "*.x"

defaults:
  run: 
    shell: bash

permissions:
  contents: read
  pull-requests: read

jobs:
  tests:
    strategy:
      fail-fast: true
      matrix: 
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}
    

    steps:

    - name: Dependencies
      uses: actions/checkout@v2
    - name: Format
      run: cargo fmt -- --check
    - name: Clippy/Lint
      run: cargo clippy --all-targets -- -D warnings
    - name: test
      run: cargo test --all --verbose
